body > .container{
    margin-top: 75px;
}

/* ----- HOME ------ */

.owl-carousel .item{
  background-color: #e46d48;
  height: 200px;
}

.owl-carousel h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.home-content{
  background-image: url("/img/homeWP.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*filter: blur(5px);
  -webkit-filter: blur(5px);*/

}
.bg-footer .navbar-default{
  background-color: #323232;
}

.bg-footer .navbar-text{
  color: #fff !important;
  vertical-align: middle;
}

footer{
  bottom: 0px;
  width: 100%;
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  color: #fff;
  padding: 15px;
}

/* PROFILE PAGE */
.profile-image img{
  margin: 0 auto;
  width:200px;
  height:200px;
  border-radius:50%;
}

.profile-score{
  margin-top: 60px;
}

.jumbotron{
  margin-top: -30px;
}
